<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>失物管理登录</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/css/me.css">
    <link rel="stylesheet" href="/css/animate.compat.css">
</head>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="m-container-small animated fadeInDown" style="max-width: 30em !important;">
    <div class="ui container">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui blue image header">
                    <i class=""></i>
                    <div class="content">
                        失物管理系统
                    </div>
                </h2>
                <form class="ui large form" method="post" action="#" th:action="@{admin/login}">
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="用户名">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="密码">
                            </div>
                        </div>
                        <button class="ui fluid large purple submit button">登录</button>
                    </div>
                    <div class="ui error message"></div>
                    <div class="ui negative message" th:unless="${#strings.isEmpty(msg)}" th:text="${msg}"></div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="/js/semantic.min.js"></script>
<script src="/lib/editormd/editormd.min.js"></script>
<script>
    $('.ui.form').form({
        fields: {
            username: {
                identifier: 'username',
                rules: [{
                    type: 'empty',
                    prompt: '用户名：请输入用户名'
                }]
            },
            password: {
                identifier: 'password',
                rules: [{
                    type: 'empty',
                    prompt: '请输入用户密码'
                }]
            }
        }
    });
</script>
</body>
</html>